html { 
    background: url(images.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

#mainContainter {
    margin: auto;
    position: relative;
    background-color: lightgoldenrodyellow;
    top: 100px;
    left: 500px;
    text-align: center;
    border: solid;
    border-color: orange;
    border-radius: 25px;
    width: 450px;
    height: 600px;
}

#display {
    margin: auto;
    border: solid;
    border-radius: 25px;
    border-color: orange;
    position: relative;
    top: 25px;
    width: 400px;
    height: 100px;
}

#display h1 {
    position: relative;
    bottom: 15px;
}
button {
    margin: auto;
    width: 50px;
    height: 50px;
}

#buttons {
    width: 250px;
}

#numbers {
    position: relative;
    left: -30px;
    top: 15px;
}

#operators {
    width: 50px;
    height: 200px;
    position: relative;
    top: -185px;
    right: -190px;
    display: block;
}

.operators {
    height: 40px;
    width: 40px;
}
