html { 
    background: url(images.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

h1 {
    position: relative;
    top: 50px;
    color: lightgoldenrodyellow;
    font-size: 90px;
    text-shadow: 5px 5px black;
}

#mainContainer {
    margin: auto;
    position: relative;
    background-color: lightgoldenrodyellow;
    bottom: 150px;
    left: 500px;
    text-align: center;
    border: solid;
    border-color: orange;
    border-width: 10px;
    border-radius: 25px;
    width: 450px;
    height: 600px;
}

#display {
    margin: auto;
    border: solid;
    border-radius: 25px;
    border-width: 4px;
    border-color: orange;
    background-color: lightgrey;
    position: relative;
    top: 25px;
    width: 400px;
    height: 100px;
}

#display h2 {
    position: relative;
    bottom: 10px;
    font-size: 46px;
    text-align: right;

}

button {
    margin: auto;
    margin-top: 25px;
    margin-left: 10px;
    position: relative;
    background-color: lightgoldenrodyellow;
    border-color: orange;
    border-width: 4px;
    top: 25px;
    left: 15px;
    border-radius: 25px;
    width: 70px;
    height: 70px;
    font-size: 30px;
    font-weight: bold;
}

#buttons {
    width: 350px;
}

#numbers {
    position: relative;
    left: -55px;
    top: 15px;
}

#operators {
    width: 200px;
    height: 200px;
    position: relative;
    bottom: 363px;
    left: 235px;
    margin-left: 
}

#zero {
  width: 160px;
}

#equals {
  height: 160px;
}

#clear {
  left: -30px;
  top: -68px;
}

#backspace {
  top: -20px;
}